<div class="d-flex flex-row-reverse fixed-top">
  <button class="navbar-toggler pt-5 pe-5" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
    <span class="navbar-toggler-icon"><img src="/img/icons/menu.png" class="img-fluid"></span>
  </button>
</div>

<nav class="navbar navbar-dark fixed-top">
  <!-- fixed top later -->
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end nav-bar" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><!--PARKSAFE--></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <% if (isAuthenticatedUser===true) { %>
      <div class="offcanvas-body">
        <!-- TODO: to be fixed so that pages can be viewed even when authenticated -->
        <main>
          <div class="container">
            <section>
              <center>
                <div class="circle">
                  <img src="/img/logo.png" class="img-fluid" alt="usericon">
                </div>
                <div>
                  <div class="p-2"></div>
                  <p class="h3">
                    <%= user.name %>
                  </p>
                </div>
              </center>
            </section>
          </div>
          <hr>
        </main>
        <div class="container">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/<%= user.email %>"> <i class="fa-solid fa-house"></i> &nbsp; Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> &nbsp; About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/pv/<%= user.email %>"><i class="fa-solid fa-car"></i> &nbsp; Park Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/rs/<%= user.email %>"><i class="fa-solid fa-flag"></i> &nbsp; Rent Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parking-payment"><i class="fa-regular fa-credit-card"></i> &nbsp; Parking Payment(To be removed)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/logout"> <i class="fa-solid fa-right-from-bracket"></i> &nbsp;Logout</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/faq"><i class="fa-solid fa-file-circle-question"></i> &nbsp; FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team"> <i class="fa-solid fa-people-group"></i> &nbsp; Our Team</a>
          </li>
        </ul>
        </div>
        <div class="text-end p-2 m-1">
          <div class="row">
            <div class="col h5 p-2">Theme</div>
            <div class="col">
              <select class="form-select form-select-lg mb-3 themeBox" aria-label=".form-select" style="background-color: var(--yellow)!important;">
                <option value="1" selected>Dark</option>
                <option value="2">Light</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <% } else {%>
        <div class="offcanvas-body">
          <!-- TODO: to be fixed so that pages can be viewed even when authenticated -->
          <main>
            <div class="container">
              <section>
                <center>
                  <div class="circle">
                    <img src="/img/logo.png" class="img-fluid" alt="usericon">
                  </div>
                  <div>
                    <div class="p-2"></div>
                    <p class="h3">
                      User
                    </p>
                  </div>
                </center>
              </section>
            </div>
            <hr>
          </main>
          <div class="container">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"> <i class="fa-solid fa-house"></i> &nbsp; Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> &nbsp; About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> &nbsp; Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup"><i class="fa-solid fa-address-card"></i> &nbsp; SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq"><i class="fa-solid fa-file-circle-question"></i> &nbsp; FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team"> <i class="fa-solid fa-people-group"></i> &nbsp; Our Team</a>
            </li>
          </ul>
          </div>
          <div class="text-end p-2 m-1">
            <div class="row">
              <div class="col h5 p-2">Theme</div>
              <div class="col">
                <select class="form-select form-select-lg mb-3 themeBox" aria-label=".form-select" style="background-color: var(--yellow)!important;">
                  <option value="1" selected>Dark</option>
                  <option value="2">Light</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</nav>
<script src="/js/script.js"></script>

