<div class="d-flex flex-row-reverse fixed-top">
  <button class="navbar-toggler pt-5 pe-5" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
    <span class="navbar-toggler-icon"><img src="/img/icons/menu.png" class="img-fluid"></span>
  </button>
</div>

<nav class="navbar navbar-dark fixed-top">
  <!-- fixed top later -->
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">PARKSAFE</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parkvehicle">Park Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rent">Rent Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Our Team</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>