.bg-quot{
    background-image: url(/img/about/quotes.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: inherit;
}
#bgtop{
    background-image: url(/img/about/quotes2.png);
    background-repeat: no-repeat;
    background-position-x: -40px;
    background-position-y: -45px;
    background-size: inherit;
}