.meet-ab {
    color: white;
    font-size: 2.5rem;
    font-family: poppins;
    }

    .park-ab{
        color: white;
        font-size: 6.7rem;
        font-family: poppins;
        font-weight: 700;
        margin-top: -1rem;
    }
.ln{
    border-right: 10px solid white;
}