.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:invalid {
    border: 2px solid;
    border-color: red !important;
}
.form-control{
    color: black!important;
}