.rounded-map {
    border: 2px solid black;
    border-radius: 15px 0px 0px 15px !important;
    /* need to solve this after adding mapbox map */
    min-height: 100vh;
}

.button-cstm {
    color: #000000!important;
    font-weight: 700;
    background: var(--yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    min-height: 90px;
    min-width: 140px;
}
.card-vehiclepark{
    background-color: var(--greyLight);
}
.marker {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid blue; */
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding-top: 2px;
    font-weight: 900;
}
.heading-pvh a{
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
}
.heading-pvh{
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
}
#map{
    color: var(--greyLight) !important; /*not working*/
    background-color: #000000 !important;
}
.modal{
    backdrop-filter: blur(15px);
}
.modal-style{
    background-color: var(--greyLight) !important;  
}
.form-style{
    background-color: var(--greyLight) !important;
    border: 1px solid var(--yellow);
}



.frame{
    border-radius: 0 0 20px 20px;
    height: 50vh!important;
    overflow: hidden;

}
.scrollable{
    height: 50vh;
    overflow: auto
}
@media screen and (min-width:720px) {
    .full{
        height: 100vh;
    }
    .frame{
        border-radius: 20px 0 0 20px;
        overflow: hidden;
        height: 100vh!important;
    }
    .scrollable{
        height: 100vh;
        overflow:auto;
      }
}
.sch{
    background-color: var(--greyLight);
}