.rounded-map {
    border: 2px solid black;
    border-radius: 15px 0px 0px 15px !important;
    /* need to solve this after adding mapbox map */
    min-height: 100vh;
}

.button-cstm {
    color: var(--greyDark) !important;
    background-color: var(--yellow);
    font-weight: 700;
}
.card-vehiclepark{
    background-color: var(--greyLight);
}
.marker {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid blue;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding-top: 2px;
    font-weight: 900;
}