.button-cstm {
    color: #000000!important;
    background: var(--yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding-top: 2px;
    font-weight: 900;
}
.toggle-outer{
    float: right;
}
.frame{
    border-radius: 0 0 20px 20px;
    height: 50vh!important;
    overflow: hidden;

}
.scrollable{
    height: 50vh;
    overflow: auto
}
@media screen and (min-width:720px) {
    .full{
        height: 100vh;
    }
    .frame{
        border-radius: 20px 0 0 20px;
        overflow: hidden;
        height: 100vh!important;
    }
    .scrollable{
        height: 100vh;
        overflow:auto;
      }
}
.sch{
    background-color: var(--greyLight);
}