.signup{
    background-color: var(--greyLight);
    /* border: 2px solid black; */
    border-radius: 15px 0px 0px 15px !important;
}

input:invalid {
    border-color: red;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
