.signup{
    background-color: var(--greyLight);
    border-radius: 15px 0px 0px 15px !important;
}
.form-style{
    background-color: var(--greyDark) !important;
}
input:invalid {
    border-color: red !important;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}