/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');

:root{
    --white:#FEFEFE;
    --yellow:#F6D139;
    --greyDark:#2D2D2D;
    --greyLight:#424242;
}
*{
    margin: 0px;
    padding: 0px;
}