<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/about.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center">

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>
    <div class="container">
        <div class="row">
            <div class="col display-1 p-5 fw-bolder">
                About Us
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="/img/about/carnav.svg" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 bg-quot">
                <div class="p-5" id="bgtop">
                    <p class="fw-semibold fs-3 ">
                        We help to provide a one stop solution to people's parking problems at crowded places and near their homes while providing an extra source of earning for people who have extra parking space to rent. We are a simple a web interface where people can rent and book parking spaces according to their needs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>