<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/about.css" rel="stylesheet">
</head>
<body>

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    


    <div class="about">
        <div class="about-us">
            <h1><img src="/img/frame-42.png"> About Us</h1>
             
         </div> 
        <div class="row about-park">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                     laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                     <img src="/img/frame-46.png" class="img-col" alt="">
            </div>
            <div class="col-md-4">
                <img src="/img/frame-45.png" class="img-p" alt="">
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>