<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<navbar>
    <%- include('../partials/navbar'); %>
</navbar>

<main>
<div class="row">
    ABOUT PAGE
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>