<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div>
        ABOUT PAGE
        
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>