<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/contact.css" rel="stylesheet">
</head>

<body>
    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>
    <div class="container">
        <div class="row full text-center justify-content-center align-items-center">
            <div class="col-12 text-start">
                <div class="topper">
                    <h1 class="park-ab">Contact us</h1>
                    <h1 class="meet-ab">&nbsp; &nbsp; Contact us via</h1>
                </div>
            </div>
            <div class="col-md-4 col-12 ln">
                <img src="/img/tele.png" alt="" class="img-fluid ms-auto">
                <p class="h3 p-1">Phone Call</p>
            </div>
            <div class="col-md-4 col-12 ln">
                <img src="/img/email.png" alt="" class="img-fluid ms-auto">
                <p class="h3 p-1">Mail</p>
            </div>
            <div class="col-md-4 col-12">
                <img src="/img/whataspp.png" alt="" class="img-fluid ms-auto">
                <p class="h3 p-1">Whatsapp</p>
            </div>
            <div class="col-12">
                <p class="h5">
                    To raise issue 
                    <a href="#" style="color: var(--yellow)!important;">
                        click here
                    </a>
                </p>
            </div>
        </div>
    </div>


</body>

</html>