<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/contact.css" rel="stylesheet">
</head>

<body>
    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>
    <div class="container">
        <div class="row full text-center justify-content-center align-items-center">
            <div class="col-12 text-start">
                <div class="topper">
                    <h1 class="park-ab">Contact us</h1>
                    <h1 class="meet-ab">&nbsp; &nbsp; Contact us via</h1>
                </div>
            </div>
            <div class="col-md-4 col-12 ln">
                <a href="tel:8287908462">
                <img src="/img/tele.png" alt="" class="img-fluid ms-auto">
            </a>
                <a href="tel:8287908462" class="h3 p-1">Phone Call</a>
            </div>
            <div class="col-md-4 col-12 ln">
                <a href="mailto:sinhaakarsh64@gmail.com">
                <img src="/img/email.png" alt="" class="img-fluid ms-auto">
            </a>
                <a href="mailto:sinhaakarsh64@gmail.com" class="h3 p-1">Mail</a>
            </div>
            <div class="col-md-4 col-12">
                <a href="https://wa.me/8287908462">
                <img src="/img/whataspp.png" alt="" class="img-fluid ms-auto">
            </a>
                <a href="https://wa.me/8287908462" class="h3 p-1">Whatsapp</a>
            </div>
            <div class="col-12">
                <p class="h5">
                    To raise issue 
                    <a href="#">
                        click here
                    </a>
                </p>
            </div>
        </div>
    </div>


</body>

</html>