<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/css/contact.css" rel="stylesheet">
</head>

<body >
    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>
        Contact us page

</body>

</html>