<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/error404.css" rel="stylesheet">
</head>

<body >
    <div>
        <div class="row">
            <div class="col-12 col-md-9 order-2 order-md-1 ">
                <img src="/img/404/3.png" class="img-fluid w-100 min-vh-100">
            </div>
            <div class="col-12 col-md-3 center order-1 order-md-2 my-5 my-md-0 ">
                <div class="text-center">
                    <h1>
                        Lost Your Way ?
                    </h1>
                    <br>
                    <h3>Error 404 : Page Not Found</h3>
                    <br>
                    <a href="/faq" class="h4">Maybe We Can Help</a>
                    <br>
                    <br>
                    <p class="h3">Or</p>
                    <br>
                    <button onclick="location.href='/'" class="btn-psf p-3 rounded-3 text-dark h4 fw-bolder">Go To Home</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>