<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/css/faq.css" rel="stylesheet">
</head>

<body >
    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>
    <div class="container mt-3">
        <h1 class="display-2 mb-5">Frequently Asked Questions</h1>
        <% faqdata.forEach(faq => { %>
            <div class="my-4">
                <details class="pt-4 p-3 faq rounded-2">
                    <summary class="h4"><%= faq.head %></summary>
                    <div class="pt-2 h6"><%= faq.body %></div>
                </details>
            </div>
        <% }); %>
        
        
    </div>
    <script>
        const details = document.querySelectorAll("details");
        // Add the onclick listeners.
        details.forEach((targetDetail) => {
            targetDetail.addEventListener("click", () => {
                // Close all the details that are not targetDetail.
                details.forEach((detail) => {
                if (detail !== targetDetail) {
                    detail.removeAttribute("open");
                }
                });
            });
        });
    </script>
</body>

</html>