<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div>
        <div class="row gx-0">
            <div class="col-sm-12 col-md-6 text-center center">
                <div class="row">
                    <h1 class="display-1">ParkSafe<br>
                        <p class="display-6">
                            <%= tagline %>
                        </p>
                    </h1>
                    <div class="row">
                        <div class="col display-6 text-end">
                            <button class="p-3 rounded-3 text-dark" >Rent Space</button>
                        </div>
                        <div class="col display-6 text-start">
                            <button class="p-3 rounded-3 text-dark" onclick="location.href='/parkvehicle'">Park Vehicle</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="/img/car.svg" class="img-fluid">
            </div>
        </div>
    </div>

    <footer class="mt-auto"> 
        <!-- no footer in ui do we have to remove this or keep it -->
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>