<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/.loggedout.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar'); %>
    
    <div class="payload">
        
        <div class="row logout">
            <div class="col-sm-2"></div>
            <div class="col-md-4">
                <h4>You Have  Been</h4>
                <h1>LOGGED OUT</h1>
                    <p>I thought, 
                        the best parking spot is in  your way</p>

                        <a href="#"><img src="/img/sedan-1.png" alt=""> >>>>Park in for log in >>>> <img src="/img/Parking-Sign.png" alt=""></a>
            </div>
            <div class="col-sm-4">  
                <img src="/img/frame32.png"  alt="">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>

</html>