<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/.loggedout.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar'); %>
    
</body>

</html>