<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>

    <div class="full">
        <navbar>
            <%- include('../partials/navbar'); %>
        </navbar>
    
        <div class="container">
            <div class="row">
                <!-- Side1 -->
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div>
                        <p class="h3">
                            <div class="p-5"></div>
                            <span class="heading big">ParkSafe</span>
                            <br>
                            <center>
                                <span class="small">Parking Made Easy</span>
                            </center>
                        </p>
                    </div>
                </div>
                <!-- Side2 -->
                <div class="col-12 col-md-6">
                    <div class="container tablet">
                        <div class="p-2">
                            <div class="p-2"></div>
                        <div class="container tablet">
                            <div class="p-5"></div>
                            <center>
                                <p class="h1 heading mid">
                                    Continue with Google
                                </p>
                            </center>
                            <div class="p-5"></div>
                            <div class="p-5"></div>
                        </div>
                        <center>
                            <div class="p-2">
                                <div class="p-1"></div>
                                <button class="btn-y">
                                    <img src="/img/google.png" class="img-fluid">
                                </button>
                            </div>
                        </center>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>

        <footer class="mt-auto"> 
            <!-- no footer in ui do we have to remove this or keep it -->
            <%- include('../partials/footer'); %>
        </footer>
    </div>

</body>
</html>