<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar'); %>
        <div class="full gx-0">
            <div class="container-fluid full d-flex justify-content-evenly align-items-center">
                <!--Side1-->
                <div class="d-none d-lg-block">
                    <h1 class="display-1 heading-psf fw-bold">ParkSafe<br>
                        <p class="h2 fw-bold text-center flex-wrap">
                            Parking Made Easy
                        </p>
                    </h1>
                </div>
                <!-- Side2 -->
                <div>
                    <div class="container tablet">
                        <div class="p-2">
                            <div class="p-2"></div>
                        <div class="container tablet">
                            <div class="p-4"></div>
                            <div class="p-1"></div>
                                <div class="m-3">
                                    <label for="user_email" class="col-sm-2 col-form-label">Email</label>
                                    <input type="email" class="form-control form-style" id="user_email" required>                                    
                                    <label for="user_password" class="col-sm-2 col-form-label">Password</label>
                                      <input type="password" class="form-control form-style" id="user_password" required>
                                  </div>
                                  <div class="p-4"></div>
                                  <p class="text-center"><a href="/signup">Not a user ? <b>Sign Up</b></a></p>

                        </div>
                        <center>
                            <div class="p-2">
                                <div class="p-1"></div>
                                <button class="btn-y" type="submit" onclick="login()">
                                    <b>
                                        Login
                                    </b>
                                </button>
                            </div>
                        </center>
                    </div>
                    </div>
                </div>
            </div>

            
        </div>
        <script>
            function login(){
                const email=document.getElementById('user_email').value
                const password=document.getElementById('user_password').value
                console.log(email,password)
                fetch('/api/v1/login',{
                    method:'POST',
                    credentials:'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password })
                }).then(res => res.json()).then(data => {
                console.log("data",data);
                if (data.success === false) {
                    alert(data.errMessage)
                    return;
                }
                window.location.href = `/user/${data.user.email}`;
              })
            }
        </script>
</body>

</html>