<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar'); %>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 center text-center vh-100 d-none d-md-flex">
                    <div>
                        <h1 class="display-1 fw-bold heading-psf">ParkSafe
                            <br>
                            <p class="h2 fw-bold">Parking Made <span id="tagLine"></span></p>
                        </h1>
                        <img src="/img/signup/signin.svg" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-6 center text-center vh-100">
                    <div class="container-fluid border border-5 border-warning rounded-4 p-3 p-md-5 ">
                        <div class="col-12 text-center d-md-none d-sm-flex my-3">
                            <h1 class="display-1 fw-bold heading-psf">ParkSafe
                                <br>
                                <p class="h2 fw-bold">Parking Made Easy </p>
                            </h1>
                        </div>
                        <form id="login_form" autocomplete="on">
                            <h1 class="py-2">LOGIN</h1>
                            <div class="border border-4 border-warning rounded-4 p-3">
                                <div class="row text-start my-4 mx-1" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Registered Email">
                                    <label for="user_email" class="col-form-label fs-5">Email</label>
                                    <input type="email" class="form-control form-style p-2" id="user_email" required>
                                </div>
                                <div class="row text-start my-4 mx-1">
                                    <label for="user_password" class="col-form-label fs-5">Password</label>
                                    <input type="password" class="form-control form-style col p-2" id="user_password" required  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Password">
                                    <input class="col-2" type="checkbox" onclick="showPass()" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Show Password">
                                </div>
                                <p class="text-end p-2 fs-6"><a href="/signup">Not a user ? <b>Sign Up</b></a></p>
                            </div>
                            <div class="row text-center my-4 mx-1">
                                
                                <button  class="btn-psf fs-3 rounded-4 p-2 px-3 k" type="submit" onclick="login()" >Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer> 
        <%- include('../partials/footer'); %>
        </footer>
        <script>
            var submit_form=document.getElementById("login_form");
            submit_form.onsubmit=function(e)
            {
                e.preventDefault();
            }
            function showPass(){
                var x=document.getElementById("user_password")
                if(x.type=="password"){
                    x.type='text'
                }
                else{
                    x.type='password'
                }
            }
            function login(){
                const email=document.getElementById('user_email').value
                const password=document.getElementById('user_password').value
                console.log(email,password)
                fetch('/api/v1/login',{
                    method:'POST',
                    credentials:'same-origin',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password })
                }).then(res => res.json()).then(data => {
                console.log("data",data);
                if (data.success === false) {
                    alert(data.errMessage)
                    return;
                }
                window.location.href = `/user/${data.user.email}`;
              })
            }
        </script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

<script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
<script>
new TypeIt('#tagLine', {
strings: ['Easy...', 'Simple...','Fun...','Safe...'],
breakLines: false,
loop: true
}).go()
</script>

</body>

</html>