<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/parking-payment.css" rel="stylesheet">
</head>
<body>

    <navbar>
        <body style="background-color:#1E1E1E;" ></body>
        <%- include('../partials/navbar'); %>
    </navbar>

    


    <div class="pay-ment">
        
        <div class="row park-payment">
            <div class="col-sm-2"></div>
            <div class="col-md-4">
                <h1>Select Payment <br>Method</h1>

                <select name="select" id="select">
                    <option value="Select">Select</option>
                  <option value="UPI">UPI</option>
                  <option value="Credit">Credit Card/option>
                  <option value="Debit">Debit Card</option>
                  <option value="Paytm">Paytm</option>
                  <option value="Google">Google Pay</option>
                </select> 
            </div>
            <div class="col-sm-4">
                <img src="/img/credit.png"  alt="">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>