<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="/css/parkvehicle.css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>

<body>

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div class="container-fluid">
        <div class="row">
            <!-- start of left column -->
            <div class="col-4">
                <div class="p-1"></div>
                <h1 class="h1 text-center">Park Vehicle</h1>
                <!-- start of saved vehicles list -->
                <div class="row">
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere<br> Add vehicle</button>
                    </div>
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere <br>DL 07DS 4391 </button>
                    </div>
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere<br> DL 07DS 4391 </button>
                    </div>
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere<br> DL 07DS 4391 </button>
                    </div>
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere<br> DL 07DS 4391 </button>
                    </div>
                    <div class="col-3">
                        <button class="button-cstm p-1 mt-3"> iconHere<br> DL 07DS 4391 </button>
                    </div>
                </div>
                <!-- end of save vehicles list -->
                <!-- start of Vehciles Parked -->
                <div class="p-5"></div>
                <div class="row">
                    <h5 class="py-2">Vehicles Parked</h5>
                    <!-- start of parked vehciles -->
                    <div>
                        <!-- start of a card -->
                        <div class="container">
                            <div class="row card-vehiclepark curve p-3">
                                <div class="col">
                                    <!-- <div class="row">
                                        DL 07DS 4391
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Rs/50/hr
                                        </div>
                                    </div> -->
                                    <p>
                                        DL 07DS 4391
                                    </p>
                                    <p>
                                        Rs/50/hr
                                    </p>
                                </div>
                                <div class="col">
                                    <button class="button-cstm p-3" style="float: right;">Check Out</button>
                                </div>
                            </div>
                        </div>
                        <!-- end of a card -->
                    </div>
                    <!-- end of parked vechiles -->
                </div>
                <!-- end of vehicles parked -->
                </div>
                <!-- end of left column -->
                <!-- start of ight column -->
                
                <!-- <form class="row" role="search">
                    <input class="form-control me-2 col" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success col" type="submit">Search</button>
                </form> -->
                <div id="map" style="height: 100%;" class="rounded-map col-8"></div>
        </div>
    </div>
    

    <footer>
        <!-- <%- include('../partials/footer'); %> -->
        <script src="/js/mapinit.js"></script>
    </footer>

</body>

</html>