<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ParkSafe:Rent Space</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <%- include('../partials/head'); %>
        <link href="/css/rent.css" rel="stylesheet">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
        <script
            src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
            type="text/css">
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            /* #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        } */
        </style>
</head>

<body>
    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div>
        <div class="row gx-0 flex-wrap-reverse">
            <div class="col-sm-12 col-md-4">
                <div class="container scrollable">
                    <p class="h1 text-center">Rent Space</p>
                    <div class="p-2"></div>
                    <p>Price</p>
                    <section class="container box">
                        <div class="p-3">
                            <input type="range" class="form-range" min="0" max="100" id="customRange2">
                            <div class="d-flex mb-3">
                                <div class="me-auto">Min</div>
                                <div>Max</div>
                            </div>
                        </div>
                    </section>
                    <div class="p-3"></div>
                    <p>No. of Hours</p>
                    <section class="container box">
                        <div class="p-3">
                            <input type="range" class="form-range" min="0" max="100" id="customRange2">
                            <div class="d-flex mb-3">
                                <div class="me-auto">Min</div>
                                <div>Max</div>
                            </div>
                        </div>
                    </section>
                    <div class="container">
                        <div class="p-3"></div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <button type="button " class="btn btn-warning">Add image</button>
                            </div>
                            <div class="col-md-6 col-12">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Add Address</button>
                            </div>
                        </div>

                    </div>


                    <!-- Parking Spots -->
                    <div class="p-3"></div>
                    <div>
                        <p class="">Your Parking Spots</p>
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="box sp col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                F-1563 Laxmi Nagar
                                            </p>
                                            <p>
                                                Rs 50/hour
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-switch toggle-outer">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckDefault">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box sp col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                F-1563 Laxmi Nagar
                                            </p>
                                            <p>
                                                Rs 50/hour
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-switch toggle-outer">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckDefault">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box sp col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                F-1563 Laxmi Nagar
                                            </p>
                                            <p>
                                                Rs 50/hour
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-switch toggle-outer">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckDefault">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box sp col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                F-1563 Laxmi Nagar
                                            </p>
                                            <p>
                                                Rs 50/hour
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-switch toggle-outer">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckDefault">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 full" style="position: sticky;">
                <div class="frame">
                    <!-- <div class="tools sp"></div> -->
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal-->




    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Add Address</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <b>
                                    Parking Type
                                </b>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shad" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Shadded
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shad" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Non-Shadded
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fencing" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Fenced
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fencing" id="flexRadioDefault2"
                                    checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Non-Fenced
                                </label>
                            </div>
                        </div>
                        <div class="p-1"></div>
                        <div class="col-12">
                            <p>
                                <b>
                                    Would you like to give space to any other vehical type
                                </b>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="other-allow" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="other-allow" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="p-1"></div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                                <textarea class="form-control box" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning">Add</button>
                </div>
            </div>
        </div>
    </div>



    <script> src = "/js/button.js"</script>
    <script src="/js/mapinit.js"></script>

</body>

</html>