<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/parking-payment.css" rel="stylesheet">
</head>
<body>

    <navbar>
        <body style="background-color:#1E1E1E;" ></body>
        <%- include('../partials/navbar'); %>
    </navbar>

    


    <div class="pay-ment">
        
        <div class="row park-payment">
            <div class="col-sm-2"></div>
            <div class="col-md-4">
                <h1>Enter UPI ID</h1>
                <input type="text" class="rounded p-2 fs-4"> 
            </div>
            <div class="col-sm-4">
                <img src="/img/credit.png"  alt="">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>