<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/teams.css" rel="stylesheet">
</head>
<body>

    <navbar>
        <%- include('../partials/navbar'); %>
    </navbar>

    <div>
        
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>