<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link href="/css/teams.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar'); %>
  <div class="container py-5 bg-team">
    <h1 class="fw-bolder">Meet<br><p class="display-1 fw-bold">ParkSafe Team</p><br></h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 pb-5 px-5">
                <div class="card card-bg" >
                    <div class="topclip">
                        <img src="/img/team/avi.jpg" class="card-img-top pt-4 ps-4" alt="...">
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title">Avi Tomar</h5>
                      <p class="card-text">Frontend, Backend</p>
                      <div class="conatiner-fluid">
                        <div class="row text-end">
                          <div class="col-7"></div>
                          <div class="col">
                            <a href="https://www.linkedin.com/in/avi-tom/"><img src="/img/team/linkedin.png" class="card-img-top socialIcons"></a>
                          </div>
                          <div class="col">
                            <a href="https://github.com/tomaravi7"><img src="/img/team/github.png" class="card-img-top socialIcons"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- 2nd -->
            <div class="col-12 col-md-4 pb-5 px-5">
              <div class="card card-bg" >
                  <div class="topclip">
                      <img src="/img/team/akarsh.jpg" class="card-img-top pt-4 ps-4" alt="...">
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title">Akarsh Anand Sinha</h5>
                    <p class="card-text">Frontend, UI Designer</p>
                    <div class="conatiner-fluid">
                      <div class="row text-end">
                        <div class="col-7"></div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/akarsh-anand-sinha-0312/"><img src="/img/team/linkedin.png" class="card-img-top socialIcons"></a>
                        </div>
                        <div class="col">
                          <a href="https://github.com/DEV-AKARSH"><img src="/img/team/github.png" class="card-img-top socialIcons"></a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- 3rd -->
          <div class="col-12 col-md-4 pb-5 px-5">
            <div class="card card-bg" >
                <div class="topclip">
                    <img src="/img/team/gautam.jpg" class="card-img-top pt-4 ps-4" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Gautam Gupta</h5>
                  <p class="card-text">Frontend</p>
                  <div class="conatiner-fluid">
                    <div class="row text-end">
                      <div class="col-7"></div>
                      <div class="col">
                        <a href="https://www.linkedin.com/in/gautam-gupta-367683211/"><img src="/img/team/linkedin.png" class="card-img-top socialIcons"></a>
                      </div>
                      <div class="col">
                        <a href="https://github.com/gautam-developer"><img src="/img/team/github.png" class="card-img-top socialIcons"></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row text-center">
        <!-- 4th -->
        <div class="col-1"></div>
        <div class="col-12 col-md-4 pb-5 px-5">
          <div class="card card-bg" >
              <div class="topclip">
                  <img src="/img/team/gunjan.jpg" class="card-img-top pt-4 ps-4" alt="...">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Gunjan</h5>
                <p class="card-text">Frontend</p>
                <div class="conatiner-fluid">
                  <div class="row text-end">
                    <div class="col-7"></div>
                    <div class="col">
                      <a href="https://www.linkedin.com/in/gunjansetia/"><img src="/img/team/linkedin.png" class="card-img-top socialIcons"></a>
                    </div>
                    <div class="col">
                      <a href="https://github.com/Gunjansetia"><img src="/img/team/github.png" class="card-img-top socialIcons"></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!-- 5th -->
      <div class="col-1"></div>
      <div class="col-12 col-md-4 pb-5 px-5">
        <div class="card card-bg" >
            <div class="topclip">
                <img src="/img/team/kanishk.jpg" class="card-img-top pt-4 ps-4" alt="...">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">Kanishk Dadwal</h5>
              <p class="card-text">UI Designer</p>
              <div class="conatiner-fluid">
                <div class="row text-end">
                  <div class="col-7"></div>
                  <div class="col">
                    <a href="https://www.linkedin.com/in/kanishkdadwal/"><img src="/img/team/linkedin.png" class="card-img-top socialIcons"></a>
                  </div>
                  <div class="col">
                    <a href="https://github.com/kanishk51"><img src="/img/team/github.png" class="card-img-top socialIcons"></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
        </div>
    </div>
    

  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>