<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/teams.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar'); %>


    <div class="container-fluid">
      <div class="d-flex flex-column full">
        <div class="topper align-self-start">
          <div class=" p-4">
            <h6 class="meet-ab">Meet</h6>
            <h1 class="park-ab">ParkSafe Team</h1>
          </div>
        </div>
        <div class="slf">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4">
                <div class="p-3">
                  <img src="/img/akarsh-car.png" class="img-fluid" alt="">
                  <p class="h5 text-center">
                    <span class="nm h3">
                      Akarsh Anand Sinha
                    </span> <br>
                    UI/UX, FRONTEND, BACKEND
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="p-3">
                  <img src="/img/avi-car.png" class="img-fluid" alt="">
                  <p class="h5 text-center">
                    <span class="nm h3">
                      Avi Tomar
                    </span> <br>
                    FRONTEND, BACKEND
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="p-3">
                  <img src="/img/kanisk-car.png" class="img-fluid" alt="">
                  <p class="h5 text-center">
                    <span class="nm h3">
                      Kanishk
                    </span> <br>
                    UI/UX
                  </p>
                </div>
              </div>


              <div class="col-md-4">
                <div class="p-3">
                  <img src="/img/gautam-car.png" class="img-fluid" alt="">
                  <p class="h5 text-center">
                    <span class="nm h3">
                      Gautam
                    </span> <br>
                    FRONTEND
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="p-3">
                  <img src="/img/gunjan-car.png" class="img-fluid" alt="">
                  <p class="h5 text-center">
                    <span class="nm h3">
                      Gunjan
                    </span> <br>
                    FRONTEND
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>





      </div>
    </div>
</body>

</html>