<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <%- include('../partials/head'); %> -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/teams.css" rel="stylesheet">
</head>
<body style="background-color:#1E1E1E;" >
    <!-- <%- include('../partials/navbar'); %> -->

    <div class="topper">
        <h1 class="meet-ab">Meet</h1>
        <h1 class="park-ab">ParkSafe Team</h1>
    </div>
            
        
        


        <div class="container text-center parking">
            <div class="row park">
              <div class="col-sm-4">
                <img src="/img/akarsh-car.png" alt="">
                <p class="h5 text-center">
                  <span class="nm h3" >
                    Akarsh Anand Sinha
                  </span> <br>
                  UI/UX, FRONTEND, BACKEND 
                </p>
            </div>
              <div class="col-sm-4">
                <img src="/img/avi-car.png" alt="">
                <p class="h5">
                  <span class="nm h3" >
                    Avi Tomar
                  </span> <br>
                  FRONTEND, BACKEND 
                </p>
              </div>
              <div class="col-sm-4">
                <img src="/img/kanisk-car.png" alt="">
                  <p class="h5">
                    <span class="nm h3" >
                      Kanishk
                    </span> <br>
                    UI/UX
                  </p>
              </div>
            </div>

            <div class="row park" >
              <div class="col-sm-2">
            </div>
                <div class="col-sm-4">
                  <img src="/img/gunjan-car.png" alt="">
                  <p class="h5">
                    <span class="nm h3" >
                      Gunjan
                    </span> <br>
                    FRONTEND 
                  </p>
              </div>
                <div class="col-sm-4">
                  <img src="/img/gautam-car.png" alt="">
                  <p class="h5">
                    <span class="nm h3" >
                      Gautam
                    </span> <br>
                    FRONTEND 
                  </p>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
          </div>
        

         
    </body>
</html>