<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="/css/teams.css" rel="stylesheet">
</head>
<body style="background-color:#1E1E1E;" >
    <%- include('../partials/navbar'); %>

    <div class="topper">
        <h1 class="meet-ab">Meet</h1>
        <h1 class="park-ab">ParkSafe Team</h1>
    </div>
            
        
        


        <div class="container text-center parking">
            <div class="row park">
              <div class="col-sm-4">
                <img src="/img/akarsh-car.png" alt="">
            </div>
              <div class="col-sm-4">
                <img src="/img/avi-car.png" alt="">
              </div>
              <div class="col-sm-4">
                <img src="/img/kanisk-car.png" alt="">
              </div>
            </div>

            <div class="row park" >
              <div class="col-sm-2">
            </div>
                <div class="col-sm-4">
                  <img src="/img/gunjan-car.png" alt="">
              </div>
                <div class="col-sm-4">
                  <img src="/img/gautam-car.png" alt="">
                </div>
                <div class="col-sm-2">
                </div>
              </div>
          </div>
        

         
    </body>
</html>